@{
    ViewData["Title"] = "Inscription";
}

<form>
  <h4 class="display-6">Inscription</h4>
  <div class="form-group mt-4">
    <label for="name">Votre nom et prénom(s):</label>
    <input type="text" class="form-control" id="name" required>
  </div>
  <div class="form-group mt-4">
    <label for="pwd">Votre e-mail:</label>
    <input type="email" class="form-control" id="email" required>
  </div>
  
  <div class="form-group mt-4">
    <label for="pwd">Votre mot de passe:</label>
    <input type="password" class="form-control" id="pwd" required>
  </div>
  
  <div class="form-group mt-4">
    <label for="pwd">Confirmer votre mot de passe:</label>
    <input type="password" class="form-control" id="pwd" required>
  </div>
  
  <div class="form-group mt-4">
    <label for="pwd">Votre CV:</label>
    <input type="file" class="form-control" id="cv" required multiple>
  </div>
  <div class="form-group d-flex w-100 justify-content-between mt-4 pe-5">
    <button type="submit" class="btn btn-primary w-75 text-center">Submit</button>
    <button type="submit" class="btn btn-warning">Annuler</button>
  </div>
</form>